body {
  background: #fff;
}
.proggress {
  position: relative;
  width: 96px;
  height: 96px;
  content: '';
  background: conic-gradient(#3f00f000 70%, #3f00f0ff 95%, #3f00f040 100%),
    conic-gradient(#3f00f000 40%, #3f00f0ff 99%, #3f00f000 100%);
  animation: 1.5s cubic-bezier(0.44, 1, 0.64, 0.67) infinite rotates;
  clip-path: circle(50%);
}
.proggress::after {
  content: '';
  position: fixed;
  width: 96px;
  height: 96px;
  background: #fff;
  clip-path: circle(46%);
  background-position: center center;
  background-repeat: no-repeat;
}

@keyframes rotates {
  0% {
    transform: rotate(0deg);
  }
  30% {
    clip-path: circle(47%);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ripple {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px; 
}
.ripple > [style] {
  position: absolute;
  width: 96px;
  height: 96px;
  background-color: #3f00f0;
  border-radius:50%;
  animation: 2s linear infinite ripples;
  animation-delay: calc(380ms * var(--i));
}
.ripple .inner {
  text-align: center;
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  background-color:#3f00f0;
  color:#ffe;
  border:none;
  transition-duration:200ms;
}
.ripple .inner:hover{
  filter:brightness(1.5) hue-rotate(-5.0deg) drop-shadow(0 0 2.5px #000);
  transform: scale(1.05);
}
/* .ripple>.inner::before{
  content:"";
  display:block;
  position:absolute;
  top:0;
  width: 96px;
  height: 96px;
  background-color:white;
  clip-path: circle(20%);
  text-align: center;
  color:white;
  z-index:2;
}
.ripple>.inner::after{
  content:"";
  display:block;
  position:absolute;
  top:0;
  width: 96px;
  height: 96px;
  background-color:#3f00f0;
  clip-path: circle(21%);
  z-index:1;
} */

@keyframes ripples {
  0% {
    transform: scale(0.2);
    opacity: 0.5;
  }
  90% {
    opacity: 0;
  }
  100% {
   transform: scale(1);
    opacity: 0;
  }
} ;
